<div
  [ngClass]="'component-wrapper'"
  style="
    background-image: url(https://ninjaneer127.github.io/AFE-Eksamen/q03/assets/images/RedPillBluePill.jpg); /* Alturl = ../../assets/images/RedPillBluePill.jpg */
    width: 90vw;
    height: 85vh;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  "
>
  <h1>Choose a pill</h1>
  <div [ngClass]="'button-container'">
    <a routerLink="/Lazy/Red">Red Pill</a>
    <a routerLink="/Lazy/Blue">Blue Pill</a>
  </div>
</div>
