@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  font-family: 'Roboto', sans-serif;
}

h1 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

h2 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 8px;
}

p {
  font-size: 16px;
  line-height: 1.5;
}

ul {
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  list-style: none;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
// awesome input style from https://codepen.io/finnhvman/pen/ExjVWZo
input {
  padding: 10px 20px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  transition: border-color 0.2s ease-in-out;

  &:focus {
    outline: none;
    border-color: #4285f4;
  }
}

.invalid-form {
  border: 1px solid red !important;
}

.invalid-label {
  color: rgb(175, 33, 33) !important;
    font-weight: bold !important;
}

.invalid-field {
  border-color: red !important;
}
button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #4285f4;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;

  &:hover {
    background-color: #3367d6;
  }

  &:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(66, 133, 244, 0.3);
  }
&:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}
}

a {
  color: #4285f4;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.component-wrapper {
  border: 1px solid #ccc;
  border-radius: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 20px;
}

.content-row {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
    gap: 20px;
    justify-content: space-around;
}

.button-container {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
